th{
    font-size: 14px;
    text-align: center;
    text-transform: uppercase;
    border: 1px solid rgba(220, 20, 60, 0.1);
}
td{
    font-size: 14px;
    text-align: center;
    border: 1px solid rgba(220, 20, 60, 0.1);
}
.btn{
    width: 100%;
}

.table th{
    padding: 0.5rem;
}

.table td{
    padding: 0.25rem;
}

.mt-5{
    margin-top: 5rem;
}
.form-check-input {
    position: relative;
    margin-left: 0;
}

.name{
    text-align: justify; color: #ff6768; font-weight: bold
}
